.about-icon{
	margin-bottom:30px;
}
.service-icon{
	margin-bottom:30px;
}
.pricing{
	margin-bottom:30px;
}
.count{
	margin-bottom:30px;
}
.contact-content{
	margin-bottom:30px;
}
@media screen and (max-width:640px){
	
.item h3{
	font-size:20px;
	}
.item h2{
	font-size:60px;
	}
.item h4{
	font-size:18px;
	}
.about-icon{
	max-width:292px;
	margin:30px auto;
}
.service-icon{
	max-width:292px;
	margin:30px auto;
}
.element-item {
	width:50%;
}
.pricing{
	max-width:292px;
	margin:30px auto;
}
.count{
	max-width:292px;
	margin:30px auto;
}	
}

@media screen and (max-width:480px){
	
.element-item {
	width:100%;
	}
}
@media screen and (max-width:320px){
	
.item h3{
	font-size:19px;
	}
.item h2{
	font-size:40px;
	}
.item h4{
	font-size:15px;
	}
}